
    <% @articles.each do |article| %>
    <div class="body">
    <h2 class="title">
      ●<%= article.title %><br>
    </h2>
    <p class="text">
      <%= article.text %><br>
    </p>
    </div>
    <hr>
    <% end %>
