.devise-view {
  padding:20px;
  #user_name {
    background-color: white;
    border-radius: 10px;
  }
  #user_email {
    background-color: white;
    border-radius: 10px;
  }
  #user_password {
    background-color: white;
    border-radius: 10px;
  }
  #user_password_confirmation {
    background-color: white;
    border-radius: 10px;
  }
}
