.body {
  margin: 20px 10px;
  .title {
    display: inline;
    color: $fontcolor;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 6px;
  }
  .text {
    color: $fontcolor;
    display: inline;
    font-size: 15px;
    letter-spacing: 5px;
  }
}
hr {
  border-top: 1px dashed $themacolor;
}
