$backcolor: white;
$fontcolor: #dcdcdc;
$themacolor: #dcdcdc;




.header {
  background-color: $themacolor;
  width: 100%;
  height: 100px;
  position: fixed;
  .header-box {
    background-color: $backcolor;
    width: 90%;
    height: 70px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    .title {
      font-size: 18px;
      color: $fontcolor;
      display: inline-block;
      padding-left: 10px;
      letter-spacing: 5px;
    }
  }
}

.contents {
  background-color: $themacolor;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 100px;
  left: 0;
  .content-box {
    width: 90%;
    height: 500px;
    background-color: $backcolor;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: auto;


  }
}
