@import "reset";
@import "style";
@import "index";
@import "show";
@import "devise";
@import "edit_and_create";

body {
  background-image: url("back.jpg");
}

.end-view {
  padding: 50px;
}

.border {
  border: dashed 3px #ffff00;
}

